/* RESETS */
* {
    margin: 0;
    padding: 0;
}

*:not(input), *:focus:not(input) {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #052427;
    color: #f8f8f8;
}

h1 {
    font-family: LOBSTER, cursive;
    font-size: 5em;
    margin-bottom: 10px;
}

#uk_flag_2 {
    background-image: url(../images/UnitedKingdom.png);
}

#czech_flag_9 {
    background-image: url(../images/CzechRepublic.png);
}

#germany_flag_1 {
    background-image: url(../images/Germany.png);
}

#norway_flag_11 {
    background-image: url(../images/Norway.png);
}

#flag_row {
    text-align: center;
}

.flag {
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.flag:hover, .flag-on {
    opacity: 1;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search {
    background: #e3e3e3;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    line-height: 1;
    font-size: 1.6em;
    padding: 5px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    display: block;
    margin: 10px auto;
    width: 55%;
    font-family: "Arvo", serif;
}

#search:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; 
}

#search:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000;
}

#fetch {
    width: 50%;
}

.flex-item {
    text-align: center;
    display: block;
}

#term {
    padding-top: 10px; 
    padding-bottom: 10px;
    font-size: 1.6em;
    margin: 10px auto;
    width: 55%;
    font-family: "Arvo", serif;
}

.loading {
    font-family: "Arvo", serif;
    text-align: center;
}

#exercise {
    width: 100%;
    max-height: 50%;
    text-align: center;
}

#exercise_description {
    text-align: center;
    display: inline-block;
    padding: 5px;
}

#exercise_img {
    display: block;
    max-width: 75%;
    max-height: 75%;
    margin: 0 auto;
}

@media only screen and (max-width: 590px) {
    #search, #term {
        font-size: 1em;
        width: 100%;
    }

    h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 340px) {
    h1 {
        font-size: 2.6em;
    }
}