* {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    padding-top: 55px;
}

.navbar {
    background-color: #050D10;
}

.navbar .navbar-nav .nav-link {
    color: #18CAE6;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(24, 202, 230);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(24, 202, 230, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-item.active .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    border-bottom: 1px solid;
    border-bottom-color: #18CAE6;
    padding: 5px;
}

.jumbotron {
    height: 35vw;
    margin-bottom: 0;
    background-image: url(../images/slide_3.jpg);
    text-align: center;
    background-size: cover;
}

.element {
    position: relative;
    color: white;
    text-decoration: underline;
    text-decoration-color: #18CAE6;
    display: inline-block;
    margin: 0 auto;
    padding-top: 7%;
    font-size: 280%;
    overflow: hidden;
    font-family: "Consolas";
    font-weight: bold;
    text-shadow: black 0px 0px 10px;
}

.typed-cursor {
    opacity: 1;
    font-size: 280%;
    color: white;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
    text-shadow: black 0px 0px 10px;
}

@-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
        
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
        
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}