* {
    font-family: "Consolas";
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 55px;
}

/*
* === NAVBAR ===
*/

.navbar {
    background-color: #050D10;
}

.navbar .navbar-nav .nav-link {
    color: #18CAE6;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(24, 202, 230);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(24, 202, 230, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-item.active .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    transition-duration: 0.35s;
}

.navbar-fixed-pos {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

/*
* === JUMBOTRON ===
*/

.jumbotron {
    height: 35vw;
    margin-bottom: 0;
    background-image: url(../images/jumbotron_bg.jpg);
    text-align: center;
    background-size: cover;
}

#hello-header {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    text-decoration: underline;
    text-decoration-color: #18CAE6;
    display: inline-block;
    margin: 0 auto;
    padding-top: 7%;
    font-size: 280%;
    overflow: hidden;
    font-weight: bold;
    text-shadow: black 0px 0px 10px;
}

.typed-cursor {
    opacity: 1;
    font-size: 280%;
    color: white;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -ms-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
    text-shadow: black 0px 0px 10px;
}

@-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
        
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
        
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*
* === ABOUT ===
*/

#about {
    background-color: #18CAE6;
    height: 32vw;
}

.header-dark, h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    text-decoration: underline;
    text-decoration-color: #18CAE6;
}

.header-light {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    text-decoration: underline;
    text-decoration-color: #050D10;
}

h2 {
    font-size: 3vw;
}

.about-p {
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.25em;
}

/*
* === SKILLS ===
*/

#skills {
    background-color: #050D10;
    height: 42vw;
}

.skills-row {
    margin-top: 4%;
}

.skill-icon {
    font-size: 8vw;
    color: white;
    transition: color 0.5s;
}

.skill-icon-title {
    opacity: 0;
    margin-top: 5%;
    font-size: 2vw;
    color: white;
    text-decoration: underline;
    text-decoration-color: #18CAE6;
    transition: opacity 0.5s;
}

.skill-col:hover .skill-icon {
    color: #18CAE6;
    transition: color 0.5s;
}

.skill-col:hover .skill-icon-title {
    opacity: 1;
    transition: opacity 0.5s;
}

/*
* === PROJECTS ===
*/

#projects {
    background-color: #18CAE6;
}

.projects-img {
    border-radius: 0;
}

.projects-card {
    background-color: #050D10;
    color: white;
    border-radius: 0;
    border-style: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.projects-card-title {
    font-size: 3vw;
    text-decoration: underline;
    text-decoration-color: #18CAE6;
}

.projects-btn-top {
    border-style: none;
    color: #050D10;
    border-radius: 100px;
    height: 2vw;
    margin-bottom: 0.5vw;
    line-height: 0;
}

.projects-btn-top:hover {
    color: #050D10;
}

.projects-btn-top:active, .projects-btn-top:focus, 
.projects-btn-bottom:active, .projects-btn-bottom:focus {
   box-shadow: none;
}

.projects-btn-bottom {
    cursor: pointer;
    color: #18CAE6;
    border-color: #18CAE6;
}

.projects-btn-bottom:hover {
    background-color: #18CAE6;
}